<hr style="border-top:1px solid #ccc">
<h3>Other Candies Spotted</h3>
<hr style="border-top:1px solid #ccc">
<table border="0" cellpadding="0" width="100%" align="center">
<tr>
<% @candies.each do |candy| %>
<td width="25%" align="center" valign="top">
<%= image_tag candy.get_pic('thumbnail'), :size => '75x75', :alt => "Candy Photo" %><br />
<div style="margin-top:5px;">
<a href="http://m.spotcandy.com/venue/<%= candy.venue_id %>/candies" title="Candy Spot" style="color:#E01B84;"><%= candy.venue.name %>,<br />
<%= candy.venue.location['state'] %></a>
</div>
</td>
<% end %>
</tr>
</table>