<div id="candy_added" title="Candy Added!">
    <div align="center">
    <div class="pic"><img src="/images/ajax-loader-small.png" width="100" height="100" /></div>
    </div>
    
    <div id="candy_message"></div>
    <div id="candy_caption"></div>
</div>