<h1>FAQ</h1>

<div class="question">What exactly is Spotcandy?</div>
<div class="answer">Spotcandy is an ambitious attempt to identify the most attractive people (candies) in the world.</div>

<div class="question">What do I have to do?</div>
<div class="answer">When you spotted someone attractive, simply recommend her to us. If we think she's attractive enough, she will be added to our exclusive Spotcandy list.</div>

<!--
<div class="question">I see a 'Pending Approval', what does it mean?</div>
<div class="answer">It means the candy you have recommended is waiting to be accepted into the Spotcandy list. <br />
Not everyone can make the list, only the attractive ones can. Yes, the world is unfair.</div>


<div class="question">What are those status, eg. 'Sweetie'?</div>
<div class="answer">Every candy has a rating. Candies who have more recommendations are rated higher.
We are still waiting for the next 'Super Candy Star'.</div>


<div class="question">Why is my candy being rejected?</div>
<div class="answer">Few reasons - She might not met Spotcandy's standard, the photo is not clear, or there are more than 1 person in the photo. <br />Or simply, the judge is in a bad mood :p</div>

-->

<div class="question">When do I click 'Not a Candy'?</div>
<div class="answer">When you see someone that's... not very attractive, or doesn't look like a girl, click on that link.</div>

<div class="question">What is this <%= image_tag "eye.png" %> ?</div>
<div class="answer">This is a <strong>'Watch Venue'</strong> icon. When you are 'watching' a venue, you will be notified whenever a new candy has been spotted in that venue.</div>

<!--
<div class="question">Why are some of the venues locked?</div>
<div class="answer">These venues are where all the candies gather. To encourage more candies discovery, we want to limit the access of these 'hotspots' only to our top scouts.</div>

<div class="question">I see <span class="candy_status"><span class="grey">(3)</span><span class="candy_score">+1</span><span> in my portfolio. What is it?</div>
<div class="answer"><span class="candy_status"><span class="grey">(3)</span></span> is the number of recommendations the candy have.<br />
<span class="candy_status"><span class="candy_score">+1</span></span> is the points earned. If you are the one who discover the candy, the points earned will be accumulative.
</div>
-->

<div class="question">I can't login, what's happening?</div>
<div class="answer">It's likely that you either type in the wrong password or you are a female.<br />
Spotcandy is currently now open to guys only, however you can participate by <%= link_to "adding Spotcandy as your friend", 'http://foursquare.com/getspotcandy', :target => 'blank' %> or <%= link_to "join our Facebook fan page", 'http://www.facebook.com/pages/Spotcandy/141205252611125', :target => '_blank' %>.</div>

